
.navbar-container {
  width: 100vw;
  background: white;
  position: sticky; 
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
}


.navbar-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  gap: 2rem;
}

/* 标题 */
.navbar-brand {
  font-weight: bold;
  font-size: 1.1rem;
}

/* 链接 */
.nav-link {
  text-decoration: none;
  color: #333;
  margin-left: 1rem;
  transition: 0.2s ease;
}

.nav-link:hover {
  color: #6a5acd;
}
